# Python files (if you're using a virtual environment)
env/
*.pyc
__pycache__/
static/models/Model DenseNet.keras
static/models/Model EfficientNet.keras
static/models/Model InceptionV3.keras
static/Cardamom_Plant_Dataset.zip

# Environment variables
.env
.flaskenv

# Caches
__pycache__/
.pytest_cache/

# Temporary files
*.swp