<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container shadow bg-primary-subtle rounded p-4 mt-5" style="min-width: 360px; width: 40%;">
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <div class="collapse show" id="signin">
            <h1 class="">Login</h1>
            <hr>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
            <hr>
            <div class="container">
                <p>Don't have an account ? <a class="btn btn-success" data-bs-toggle="collapse"
                        href="#signin">Register</a></p>
            </div>
        </div>

        <div class="collapse" id="signin">
            <h1 class="text-center">Register</h1>
            <hr>
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-3">
                    <label for="email2" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email2">
                </div>
                <div class="mb-3">
                    <label for="newPass" class="form-label">Create new password</label>
                    <input type="password" class="form-control" name="newPass" id="newPass">
                </div>
                <div class="mb-3">
                    <label for="confPass" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" name="confPass" id="confPass">
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-success ">Register</button>
                </div>
            </form>
            <hr>
            <div class="container">
                <p>Already have an account ? <a class="btn btn-primary" data-bs-toggle="collapse"
                        href="#signin">Login</a></p>
            </div>
        </div>

    </div>

</body>

</html>